### Measure of Dispersion

#### Variance

In [1]:
age = [23,56,45,77,8,12,10,32,65,19,20,35]

In [2]:
import numpy as np

In [3]:
mean = np.mean(age)

In [4]:
mean

33.5

In [5]:
var = np.var(age)

In [6]:
var

474.5833333333333

In [7]:
std = np.std(age)
std

21.784933631602676

In [8]:
import pandas as pd

In [9]:
data = [[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [10]:
df = pd.DataFrame(data)

In [11]:
df

    0   1   2
0  10  12  13
1  34  23  45
2  32  34  21

In [13]:
df.var()

0    177.333333
1    121.000000
2    277.333333
dtype: float64

In [14]:
# Row wise 
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

In [15]:
# Column wise
df.var()

0    177.333333
1    121.000000
2    277.333333
dtype: float64